@import 'tailwindcss';
@import '@fontsource/fira-mono';
/* @plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow: hidden;
}
